<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/htmx.org@1.9.4"></script>
	<link href="/styles.css" rel="stylesheet" type="text/css">
</head>

<body hx-boost="true">
	<div id="content">
		<div id="login">
			<h1>Login</h1>
			<form>
				<div class="form-group">
					<label for="username">Username </label>
					<input hx-get="/api/login" hx-target="next .success"
						hx-trigger="keydown[key=='Tab'] changed delay:200ms" type="text" pattern="^[a-zA-Z1-9].*"
						class="form-input" type="text" name="username" id="username" required />
					<span class="success"></span>
				</div>
				<div class="form-group">
					<label for="password">Password </label>
					<input type="password" name="password" id="password" required class="form-input" />
					<span class="error"></span>
				</div>
				<div>
					<button hx-post="/api/login" class="create-button" hx-target="previous .error"> Login
					</button>
				</div>
			</form>
		</div>
		<div class="centered-middle">
			<h2>Don't have an account?</h2>
			<a href="/register">Register</a>
		</div>
	</div>
</body>

</html>
