:root {
  --primary: #F9FAFB;
  --secondary: #FCFCFD;
  --text: #000;
}

.dark {
  --primary: #16181D;
  --secondary: #1A1D23;
  --text: #eee;
}

/* Transitions  */

.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

body {
    color: var(--text);
    background: var(--primary);
    margin: 0;
    padding: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-display: 'Inter', var(--font-fallback);
    --font-mono: 'Fira Code', monospace;
    --font-numeric: 'Space Grotesk', var(--font-fallback);
    font: 112.5%/1.45 var(--font-display);
}

/* container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

body a {
    color: #809fff;
}

body p {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Apply a background color and styles for the header */
.header {
    background-color: var(--primary); /* You can change the color to your preference */
    color: var(--text); /* Text color for the header */
    padding: 10px; /* Adjust the padding as needed */
    position: fixed; /* Make the header fixed at the top */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left edge */
    right: 0; /* Align it to the right edge */
    z-index: 100; /* Ensure it's above other content */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space elements evenly horizontally */
    align-items: center; /* Center vertically */
}

/* Style the h3 and a elements within the header-left */
.header-left h3 {
    margin: 0;
    font-size: 18px;
    display: inline; /* Display as an inline element */
}

.header-left a {
    text-decoration: none;
    color: var(--text); /* Link color */
}

/* Style the links within the header-right */
.header-right a {
    text-decoration: none;
    color: var(--text); /* Link color */
    margin-left: 10px; /* Add spacing between links */
}

input:invalid {
  border: 2px dashed coral;
}

.error {
    color: red;
    max-width:inherit;
    display: inherit;
    font-size: small;
}

.success {
    color: green;
    max-width:inherit;
    display: inherit;
    font-size: small;
}

.small-text {
    font-size: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 16px;
    margin: 10px;
    padding: 10px;
    border: 1px solid dimgray;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
    min-width: 300px;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    text-align: center;
    padding: 10px;
    background-color: var(--secondary);
}

.card-body {
    font-size: 16px;
    background-color: var(--secondary);
    padding: 10px;
    /* border-top: 1px solid white; */
}
.status-indicator {
    background: #5686F5;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    right: -200px;
    top: 60px;
    text-align: center;
    max-width: 100px;
}
.arrow-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 0px;
}
.delete-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #d93636;
}

.delete-button:active {
    background-color: #b12828;
    transform: translateY(1px);
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.dark-button {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    /* transition: background-color 0.3s ease; */
}

.dark-button:hover {
    background-color: var(--secondary);
}
.create-button {
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create-button:hover {
    background-color: #0077a3;
}

.create-button:active {
    background-color: #00638e;
    transform: translateY(1px);
}


/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px var(--text);
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color: var(--primary);
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal-close {
    position: relative;
    /* top: 10px; */
    /* right: 10px; */
    font-size: 20px;
    cursor: pointer;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 
