<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}{{ title }} - My Site{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="styles.css" rel="stylesheet" type="text/css">
	<script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>

<header hx-boost="true">
	<div id="user-header" class="header">
		{% block header %}<p>Placeholder header</p>{% endblock %}
	</div>
</header>

<body>
	<div id="modal"> </div>
	<div id="content" hx-boost="true">
		{% block content %}<p>Placeholder content</p>{% endblock %}
	</div>
</body>

</html>
