{% extends "base.html" %}

{% block title %}Start{% endblock %}

{% block header %}
<div class="header-left"> 
	<h3>Logged in: <a style="cursor:pointer"hx-target="body" hx-swap="beforeend" hx-get="/profile">{{username}}</a> </h3>
</div>
<div class="header-right">
   <a href="/tickets">Tickets</a>
   <a href="/logout">Logout</a>

   <button _="on click
  if localStorage.mode is 'dark'
    set localStorage.mode to 'light'
    remove .dark from <body/>
  else
    set localStorage.mode to 'dark'
    add .dark to <body/>">Dark Mode</button>
</div>
{% endblock %}

{% block content %}
<h1>Home</h1>
<p>Hello, {{username}}!</p>
{% endblock %}
