{% extends "base.html" %}

{% block title %}My Tickets{% endblock %}

{% block header %}
<div class="header-left"> 
<h3><a style="cursor:pointer" hx-target="#ticket-container" hx-swap="beforeend" hx-get="/profile">{{username}}</a> </h3>
</div>
<div class="header-right">
   <a href="/">Home</a>
</div>
{% endblock %}

{% block content %}
<h1>My Tickets</h1>

<div class="inline" hx-push-url="true">
   <select hx-include="next select" class="status-indicator-list" name="view" id="view" hx-get="/tickets" hx-target="#ticket-container" hx-swap="outerHTML">
      <option selected value="table">Table</option>
      <option value="list">List</option>
   </select>

   <select hx-include="previous select" class="status-indicator-list" name="created_by" hx-get="/tickets" hx-target="#ticket-container" hx-swap="outerHTML">
      <option value="everyone" >Everyone</option>
      <option value="me" >Me</option>
   </select>
</div>

{% match view_type %}
{% when View::Table %}
{% include "tickets_table.html" %}
{% when View::List %}
{% include "tickets_list.html" %}
{% endmatch %}
{% endblock %}
