{% let len = tickets_todo.len() %}
<div id="ticket-list" class="rowlike-table">
	<div class="inline">
		<h3 class="inline">to-do</h3>
		<p class="inline"> {{ len }} </p>
	</div>
	<div id="todo-list">
		{% for ticket in tickets_todo %}
		<div class="list-item">
			{{ ticket.title }}

			<select class="status-indicator-list" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
				hx-target="#ticket-list" hx-swap="outerHTML">
				<option selected value="to-do">to-do</option>
				<option value="doing">doing</option>
				<option value="done">done</option>
			</select>

		</div>

		{% endfor %}
	</div>

	{% let len_doing = tickets_doing.len() %}
	<div class="inline">
		<h3 class="inline">doing</h3>
		<p class="inline"> {{ len_doing }} </p>
	</div>

	<div id="doing-list">
		{% for ticket in tickets_doing %}
		<div class="list-item">
			{{ ticket.title }}

			<select class="status-indicator-list" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
				hx-target="#ticket-list" hx-swap="outerHTML">
				<option value="to-do">to-do</option>
				<option selected value="doing">doing</option>
				<option value="done">done</option>
			</select>
		</div>

		{% endfor %}
	</div>

	{% let len_done = tickets_done.len() %}
	<div class="inline">
		<h3 class="inline">done</h3>
		<p class="inline"> {{ len_done }} </p>
	</div>
	<div id="doing-list">
		{% for ticket in tickets_done %}
		<div class="list-item">
			{{ ticket.title }}

			<select class="status-indicator-list" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
				hx-target="#ticket-list" hx-swap="outerHTML">
				<option value="to-do">to-do</option>
				<option value="doing">doing</option>
				<option selected value="done">done</option>
			</select>
		</div>

		{% endfor %}
	</div>
</div>
