<div id="ticket-table" class="responsive-three-column-grid">
	<div>

		{% let len = tickets_todo.len() %}
		<div class="inline">
			<h3 class="inline">to-do</h3>
			<p class="inline"> {{ len }} </p>
			<button hx-get="/tickets/new" hx-target="#tickets" hx-swap="afterbegin" class="add-button">+</button>
		</div>
		<div id="tickets">
			{% for ticket in tickets_todo %}
			<div class="card">
				<div class="card-header">{{ ticket.title }}</div>
				<div class="card-body">
					<p class="small-text">{{ticket.created_at|fmtdate}}</p>
					<p>{{ ticket.description }}</p>

					<select class="status-indicator" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
						hx-target="#ticket-table" hx-swap="outerHTML">
						<option selected value="to-do">to-do</option>
						<option value="doing">doing</option>
						<option value="done">done</option>
					</select>

					<p class="small-text">Created by: {{ticket.creator_name}}</p>
					<!-- <p class="small-text">ID: {{ticket.id}}</p> -->
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div>
		{% let len_doing = tickets_doing.len() %}
		<div class="inline">
			<h3 class="inline">doing</h3>
			<p class="inline"> {{ len_doing }} </p>
		</div>
		<div id="tickets-doing">
			{% for ticket in tickets_doing %}
			<div class="card">
				<div class="card-header">{{ ticket.title }}</div>
				<div class="card-body">
					<p class="small-text">{{ticket.created_at|fmtdate}}</p>
					<p> {{ ticket.description }}</p>

					<select class="status-indicator" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
						hx-target="#ticket-table" hx-swap="outerHTML">
						<option value="to-do">to-do</option>
						<option selected value="doing">doing</option>
						<option value="done">done</option>
					</select>
					<p class="small-text">Created by: {{ticket.creator_name}}</p>
					<!-- <p class="small-text">ID: {{ticket.id}}</p> -->
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div>
		{% let len_done = tickets_done.len() %}
		<div class="inline">
			<h3 class="inline">done</h3>
			<p class="inline"> {{ len_done }} </p>
		</div>
		<div id="tickets-done">
			{% for ticket in tickets_done %}
			<div class="card">
				<div class="card-header"><s>{{ ticket.title }}</s></div>
				<div class="card-body">
					<p class="small-text">{{ticket.created_at|fmtdate}}</p>
					<p>{{ ticket.description }}</p>

					<select class="status-indicator" name="status" id="status" hx-put="/tickets/{{ticket.id}}"
						hx-target="#ticket-table" hx-swap="outerHTML">
						<option value="to-do">to-do</option>
						<option value="doing">doing</option>
						<option selected value="done">done</option>
					</select>
					<!-- <p class="small-text">ID: {{ticket.id}}</p> -->
					<button class="delete-button" hx-delete="/tickets/{{ ticket.id }}" hx-target="closest .card"
						hx-confirm="Are you sure you want to delete this ticket?" hx-swap="delete">🗑️</button>
					<p class="small-text">Created by: {{ticket.creator_name}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

</div>
