{% extends "base.html" %}

{% block title %}My Tickets{% endblock %}

{% block header %}
<div class="header-left"> 
<h3><a style="cursor:pointer"hx-target="body" hx-swap="beforeend" hx-get="/profile">{{username}}</a> </h3>
</div>
<div class="header-right">
   <a href="/">Home</a>
</div>
{% endblock %}

{% block content %}
<h1>My Tickets</h1>

<select class="status-indicator-list" name="view" id="view" hx-get="/tickets" hx-target="#ticket-container"
	hx-swap="outerHTML">
	<option value="list">List</option>
	<option value="table">Table</option>
</select>

{% match view_type %}
{% when View::Table %}
{% include "tickets_table.html" %}
{% when View::List %}
{% include "tickets_list.html" %}
{% endmatch %}
{% endblock %}
